.screen{
  background-size: cover;
  background-color: #6CCCCC;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.extra_columns {
  background-color: white;
  height: 1000px;

}




// Place all the styles related to the Quizes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
